
html {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  height: 5em;
  margin: 0.2em;
  background-color: #008cba;
  color: white;
  /*background-color: #2F2F2F;*/
  border-radius: 0.5em;
}
.header .logo {
  /*background: url(img/logo.png) no-repeat;*/
  width: 180px;
  height: 74px;
  float: left;
}
.panel {
  width: 19em;
}
.panel .content {
  height: 19em;
}
#search {
  /*background: url(img/search_bg.png) no-repeat;
  background-size: 100% auto;*/
  border-radius: 0.5em;
  overflow: hidden;
  margin-top: 1em;
  float: right;
  /*width: 378px;*/
  height: 3em;
  line-height: 3em;
}
#search input.field {
  /*background: url(img/search_input.png) no-repeat;*/
  width: 309px;
  height: 30px;
  margin: auto 1em;
  border: none;
}

.search_btn {
  /*background: url(img/search_btn.png) no-repeat;*/
  background-size: 100% auto;
  /*border-radius: 0.5em;*/
  /*width: 30px;
  height: 30px;*/
  margin-right: 1em;
}
.section {
  width: 64em;
  height: 350px;
  margin: auto;
  margin-bottom: 1em;
  overflow: hidden;
}
#map {
  position: relative;
  border-radius: 0.5em;
}

#search_results {
  /*float: right;*/
  color: black;
  height: 19em;
  margin: 2em;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}
#search_results a {
  text-decoration: none;
  white-space: nowrap; /*don't wrap-around text*/
  color: blue;
}
#search_results a:visited {
  color: blue;
}
#search_results .content {
  /*overflow: hidden;*/
  /*overflow: scroll;*/
  height: 16em;
  overflow-x: hidden;
}
.searchResult {
  margin: 0 0.4em;
}
.container {
  width: 64em;
  overflow: hidden;
}
.right {
  float: right;
  width: 20em;
}
.left {
  float: left;
  width: 20em;
}
.inner {
  width: 64em;
  margin: auto;
}
.middle {
  margin: 0 22em;
}
.panel {
  background-color: #D6D6D6;

  border-radius: 0.5em;
  overflow: hidden;
}
.panel .header {
  height: 3em;
  background-color: #008cba;
  color: white;
  text-align: center;
  line-height: 3em;
  letter-spacing: 0.1em;
}

#search_results .content{

}
input.send {
  margin-left: 1em;
  clear: both;
  background-color: white;
  /*background: url(img/send.png) no-repeat;
  width: 82px;
  height: 38px;*/
  float: left;
  /*border: 0;*/
  height: 1.6em;
  font-size: 1em;
  border-radius: 0.5em;
}
textarea {
  /*background: url(img/textarea.jpg) no-repeat;*/
  margin: 1em;
  width: 21em;
  height: 12em;
  border-radius: 0.5em;
  border: none;
  resize: none;
}
select {
  height: 2em;
  color: #828282;
  margin: 1em;
}
div.label {
  clear: both;
  margin-left: 1em;
}
#caller_photo img {
  width: 100%;
  height: 100%;
}
#copyright {
  font-size: 0.6em;
  float: left;
}
.footer {
  height: 3em;
  line-height: 3em;
  background-color: #008cba;
  color: white;
  margin: 0.2em;
  border-radius: 0.5em;
}
.footer .logo {
  /*background: url(img/footer_logo.jpg) no-repeat;*/
  width: 112px;
  height: 3em;
  float: right;
}
#notes {
  background: url(img/notes.jpg) no-repeat;
  background-size: 100% auto;
  color: black;
  width: 16em;
  height: 18em;
  margin: 1em auto;
}
#notes div {
  width: 80%;
  height: 2em;
  border-bottom: 1px solid #c3c3c3;
  margin: 1em auto;
}
/* RouteMap panel */
#map_canvas {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#sms_response {
  float: left;
  line-height: 0.6em;
  margin-left: 1em;
}
.infoWindow {
  white-space: nowrap; /*don't wrap-around text*/
  width: 18em;
  font-style: bold;
}
#chatframe {
  height: 420px;
  width: 550px;
  overflow:   hidden;
}
#Chat {
  width: 550px;
  height: 468px;
}

#Chat .content {
  height: 500px;
  height: 468px;
}

.section .chat {
  height: 30em;
}

#second-row {
  height: 24em;
}
