<!-- Styling -->
<link rel="stylesheet" href="gadget.css" type="text/css" />
<!-- jQuery -->
<script type="text/javascript" src="/desktop/assets/js/jquery.min.js"></script>
<!-- Finesse Library -->
<script type="text/javascript" src="/desktop/assets/js/finesse.js"></script>
<!-- Gadget Config -->
<script type="text/javascript" src="config.js"></script>
<!-- Gadget Business Logic -->
<script type="text/javascript" src="gadget.js"></script>
<body class="claro">
  <div class="container">
    <div class="panel">
      <div class="header">SMS</div>
      <div class="content">
        <form name="smsForm" method="POST" action="javascript:finesse.modules.VideoInvite.sendSms();">
          <label for="SmsAni">Mobile Number: <input type="text" id="SmsAni" /></label> <br/>
          <label for="SmsAni">Template: <select class="template_input" name="template" id="SMSTemplate" onchange="finesse.modules.VideoInvite.changeMessage()">
            <option value="null">Select</option>
          </select></label>
          <div class="form_first">
            <div class="label">Message</div>
            <textarea class="textarea" id="SmsContent" name="SmsContent"></textarea>
            <input type="button" class="send" onclick="finesse.modules.VideoInvite.sendSms()" value="Send SMS" />
            <div id="sms_response"> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">

gadgets.HubSettings.onConnect = function () {
  finesse.modules.VideoInvite.init();
};
</script>
